## Andere Datenquellen

### API:

In [2]:
import pandas as pd
import requests as api

In [3]:
json = api.get("https://open.er-api.com/v6/latest/USD")

In [6]:
json.json()

{'result': 'success',
 'provider': 'https://www.exchangerate-api.com',
 'documentation': 'https://www.exchangerate-api.com/docs/free',
 'terms_of_use': 'https://www.exchangerate-api.com/terms',
 'time_last_update_unix': 1713916951,
 'time_last_update_utc': 'Wed, 24 Apr 2024 00:02:31 +0000',
 'time_next_update_unix': 1714003981,
 'time_next_update_utc': 'Thu, 25 Apr 2024 00:13:01 +0000',
 'time_eol_unix': 0,
 'base_code': 'USD',
 'rates': {'USD': 1,
  'AED': 3.6725,
  'AFN': 72.099976,
  'ALL': 94.654548,
  'AMD': 390.76754,
  'ANG': 1.79,
  'AOA': 844.530092,
  'ARS': 864.75,
  'AUD': 1.543859,
  'AWG': 1.79,
  'AZN': 1.699793,
  'BAM': 1.829438,
  'BBD': 2,
  'BDT': 109.727703,
  'BGN': 1.829751,
  'BHD': 0.376,
  'BIF': 2864.055789,
  'BMD': 1,
  'BND': 1.361787,
  'BOB': 6.91916,
  'BRL': 5.168045,
  'BSD': 1,
  'BTN': 83.326606,
  'BWP': 13.874081,
  'BYN': 3.260334,
  'BZD': 2,
  'CAD': 1.367485,
  'CDF': 2750.43301,
  'CHF': 0.91142,
  'CLP': 952.515815,
  'CNY': 7.251162,
  'COP': 3901.848983,
  'CRC': 500.350494,
  'CUP': 24,
  'CVE': 103.139337,
  'CZK': 23.631977,
  'DJF': 177.721,
  'DKK': 6.975044,
  'DOP': 58.920318,
  'DZD': 134.595404,
  'EGP': 48.060176,
  'ERN': 15,
  'ETB': 56.944149,
  'EUR': 0.935381,
  'FJD': 2.288387,
  'FKP': 0.804134,
  'FOK': 6.975014,
  'GBP': 0.804141,
  'GEL': 2.675846,
  'GGP': 0.804134,
  'GHS': 13.566113,
  'GIP': 0.804134,
  'GMD': 66.2168,
  'GNF': 8579.065102,
  'GTQ': 7.764271,
  'GYD': 209.178793,
  'HKD': 7.835658,
  'HNL': 24.671418,
  'HRK': 7.047597,
  'HTG': 132.31341,
  'HUF': 367.930103,
  'IDR': 16218.407831,
  'ILS': 3.772002,
  'IMP': 0.804134,
  'INR': 83.326618,
  'IQD': 1310.236309,
  'IRR': 41972.265777,
  'ISK': 140.903689,
  'JEP': 0.804134,
  'JMD': 155.717176,
  'JOD': 0.709,
  'JPY': 154.714922,
  'KES': 133.470236,
  'KGS': 89.216661,
  'KHR': 4051.354098,
  'KID': 1.543851,
  'KMF': 460.175284,
  'KRW': 1374.342782,
  'KWD': 0.308012,
  'KYD': 0.833333,
  'KZT': 443.712534,
  'LAK': 21727.275932,
  'LBP': 89500,
  'LKR': 300.141226,
  'LRD': 192.676077,
  'LSL': 19.125716,
  'LYD': 4.874967,
  'MAD': 10.141128,
  'MDL': 17.844301,
  'MGA': 4404.442204,
  'MKD': 57.842823,
  'MMK': 2094.060477,
  'MNT': 3427.019579,
  'MOP': 8.070728,
  'MRU': 39.739457,
  'MUR': 46.470189,
  'MVR': 15.435381,
  'MWK': 1741.770258,
  'MXN': 17.017192,
  'MYR': 4.779204,
  'MZN': 63.978138,
  'NAD': 19.125716,
  'NGN': 1160.45298,
  'NIO': 36.766581,
  'NOK': 10.930749,
  'NPR': 133.32257,
  'NZD': 1.686316,
  'OMR': 0.384497,
  'PAB': 1,
  'PEN': 3.700274,
  'PGK': 3.793868,
  'PHP': 57.518733,
  'PKR': 278.637553,
  'PLN': 4.034362,
  'PYG': 7352.188697,
  'QAR': 3.64,
  'RON': 4.661522,
  'RSD': 109.759082,
  'RUB': 93.304635,
  'RWF': 1301.474143,
  'SAR': 3.75,
  'SBD': 8.389688,
  'SCR': 13.571423,
  'SDG': 449.102314,
  'SEK': 10.824982,
  'SGD': 1.361788,
  'SHP': 0.804134,
  'SLE': 22.639393,
  'SLL': 22639.393086,
  'SOS': 571.258628,
  'SRD': 34.789499,
  'SSP': 1592.271765,
  'STN': 22.916735,
  'SYP': 12902.585211,
  'SZL': 19.125716,
  'THB': 36.946555,
  'TJS': 10.956761,
  'TMT': 3.500016,
  'TND': 3.151678,
  'TOP': 2.347959,
  'TRY': 32.574196,
  'TTD': 6.765064,
  'TVD': 1.543851,
  'TWD': 32.54485,
  'TZS': 2586.985158,
  'UAH': 39.576588,
  'UGX': 3808.804398,
  'UYU': 38.484963,
  'UZS': 12760.088187,
  'VES': 36.3877,
  'VND': 25398.770376,
  'VUV': 121.587857,
  'WST': 2.772847,
  'XAF': 613.567046,
  'XCD': 2.7,
  'XDR': 0.759051,
  'XOF': 613.567046,
  'XPF': 111.6204,
  'YER': 250.175013,
  'ZAR': 19.125804,
  'ZMW': 25.990771,
  'ZWL': 13.2536}}

In [7]:
json.json()["rates"]

{'USD': 1,
 'AED': 3.6725,
 'AFN': 72.099976,
 'ALL': 94.654548,
 'AMD': 390.76754,
 'ANG': 1.79,
 'AOA': 844.530092,
 'ARS': 864.75,
 'AUD': 1.543859,
 'AWG': 1.79,
 'AZN': 1.699793,
 'BAM': 1.829438,
 'BBD': 2,
 'BDT': 109.727703,
 'BGN': 1.829751,
 'BHD': 0.376,
 'BIF': 2864.055789,
 'BMD': 1,
 'BND': 1.361787,
 'BOB': 6.91916,
 'BRL': 5.168045,
 'BSD': 1,
 'BTN': 83.326606,
 'BWP': 13.874081,
 'BYN': 3.260334,
 'BZD': 2,
 'CAD': 1.367485,
 'CDF': 2750.43301,
 'CHF': 0.91142,
 'CLP': 952.515815,
 'CNY': 7.251162,
 'COP': 3901.848983,
 'CRC': 500.350494,
 'CUP': 24,
 'CVE': 103.139337,
 'CZK': 23.631977,
 'DJF': 177.721,
 'DKK': 6.975044,
 'DOP': 58.920318,
 'DZD': 134.595404,
 'EGP': 48.060176,
 'ERN': 15,
 'ETB': 56.944149,
 'EUR': 0.935381,
 'FJD': 2.288387,
 'FKP': 0.804134,
 'FOK': 6.975014,
 'GBP': 0.804141,
 'GEL': 2.675846,
 'GGP': 0.804134,
 'GHS': 13.566113,
 'GIP': 0.804134,
 'GMD': 66.2168,
 'GNF': 8579.065102,
 'GTQ': 7.764271,
 'GYD': 209.178793,
 'HKD': 7.835658,
 'HNL': 24.671418,
 'HRK': 7.047597,
 'HTG': 132.31341,
 'HUF': 367.930103,
 'IDR': 16218.407831,
 'ILS': 3.772002,
 'IMP': 0.804134,
 'INR': 83.326618,
 'IQD': 1310.236309,
 'IRR': 41972.265777,
 'ISK': 140.903689,
 'JEP': 0.804134,
 'JMD': 155.717176,
 'JOD': 0.709,
 'JPY': 154.714922,
 'KES': 133.470236,
 'KGS': 89.216661,
 'KHR': 4051.354098,
 'KID': 1.543851,
 'KMF': 460.175284,
 'KRW': 1374.342782,
 'KWD': 0.308012,
 'KYD': 0.833333,
 'KZT': 443.712534,
 'LAK': 21727.275932,
 'LBP': 89500,
 'LKR': 300.141226,
 'LRD': 192.676077,
 'LSL': 19.125716,
 'LYD': 4.874967,
 'MAD': 10.141128,
 'MDL': 17.844301,
 'MGA': 4404.442204,
 'MKD': 57.842823,
 'MMK': 2094.060477,
 'MNT': 3427.019579,
 'MOP': 8.070728,
 'MRU': 39.739457,
 'MUR': 46.470189,
 'MVR': 15.435381,
 'MWK': 1741.770258,
 'MXN': 17.017192,
 'MYR': 4.779204,
 'MZN': 63.978138,
 'NAD': 19.125716,
 'NGN': 1160.45298,
 'NIO': 36.766581,
 'NOK': 10.930749,
 'NPR': 133.32257,
 'NZD': 1.686316,
 'OMR': 0.384497,
 'PAB': 1,
 'PEN': 3.700274,
 'PGK': 3.793868,
 'PHP': 57.518733,
 'PKR': 278.637553,
 'PLN': 4.034362,
 'PYG': 7352.188697,
 'QAR': 3.64,
 'RON': 4.661522,
 'RSD': 109.759082,
 'RUB': 93.304635,
 'RWF': 1301.474143,
 'SAR': 3.75,
 'SBD': 8.389688,
 'SCR': 13.571423,
 'SDG': 449.102314,
 'SEK': 10.824982,
 'SGD': 1.361788,
 'SHP': 0.804134,
 'SLE': 22.639393,
 'SLL': 22639.393086,
 'SOS': 571.258628,
 'SRD': 34.789499,
 'SSP': 1592.271765,
 'STN': 22.916735,
 'SYP': 12902.585211,
 'SZL': 19.125716,
 'THB': 36.946555,
 'TJS': 10.956761,
 'TMT': 3.500016,
 'TND': 3.151678,
 'TOP': 2.347959,
 'TRY': 32.574196,
 'TTD': 6.765064,
 'TVD': 1.543851,
 'TWD': 32.54485,
 'TZS': 2586.985158,
 'UAH': 39.576588,
 'UGX': 3808.804398,
 'UYU': 38.484963,
 'UZS': 12760.088187,
 'VES': 36.3877,
 'VND': 25398.770376,
 'VUV': 121.587857,
 'WST': 2.772847,
 'XAF': 613.567046,
 'XCD': 2.7,
 'XDR': 0.759051,
 'XOF': 613.567046,
 'XPF': 111.6204,
 'YER': 250.175013,
 'ZAR': 19.125804,
 'ZMW': 25.990771,
 'ZWL': 13.2536}

In [13]:
list(json.json()["rates"].keys())

['USD',
 'AED',
 'AFN',
 'ALL',
 'AMD',
 'ANG',
 'AOA',
 'ARS',
 'AUD',
 'AWG',
 'AZN',
 'BAM',
 'BBD',
 'BDT',
 'BGN',
 'BHD',
 'BIF',
 'BMD',
 'BND',
 'BOB',
 'BRL',
 'BSD',
 'BTN',
 'BWP',
 'BYN',
 'BZD',
 'CAD',
 'CDF',
 'CHF',
 'CLP',
 'CNY',
 'COP',
 'CRC',
 'CUP',
 'CVE',
 'CZK',
 'DJF',
 'DKK',
 'DOP',
 'DZD',
 'EGP',
 'ERN',
 'ETB',
 'EUR',
 'FJD',
 'FKP',
 'FOK',
 'GBP',
 'GEL',
 'GGP',
 'GHS',
 'GIP',
 'GMD',
 'GNF',
 'GTQ',
 'GYD',
 'HKD',
 'HNL',
 'HRK',
 'HTG',
 'HUF',
 'IDR',
 'ILS',
 'IMP',
 'INR',
 'IQD',
 'IRR',
 'ISK',
 'JEP',
 'JMD',
 'JOD',
 'JPY',
 'KES',
 'KGS',
 'KHR',
 'KID',
 'KMF',
 'KRW',
 'KWD',
 'KYD',
 'KZT',
 'LAK',
 'LBP',
 'LKR',
 'LRD',
 'LSL',
 'LYD',
 'MAD',
 'MDL',
 'MGA',
 'MKD',
 'MMK',
 'MNT',
 'MOP',
 'MRU',
 'MUR',
 'MVR',
 'MWK',
 'MXN',
 'MYR',
 'MZN',
 'NAD',
 'NGN',
 'NIO',
 'NOK',
 'NPR',
 'NZD',
 'OMR',
 'PAB',
 'PEN',
 'PGK',
 'PHP',
 'PKR',
 'PLN',
 'PYG',
 'QAR',
 'RON',
 'RSD',
 'RUB',
 'RWF',
 'SAR',
 'SBD',
 'SCR',
 'SDG',
 'SEK',
 'SGD',
 'SHP',
 'SLE',
 'SLL',
 'SOS',
 'SRD',
 'SSP',
 'STN',
 'SYP',
 'SZL',
 'THB',
 'TJS',
 'TMT',
 'TND',
 'TOP',
 'TRY',
 'TTD',
 'TVD',
 'TWD',
 'TZS',
 'UAH',
 'UGX',
 'UYU',
 'UZS',
 'VES',
 'VND',
 'VUV',
 'WST',
 'XAF',
 'XCD',
 'XDR',
 'XOF',
 'XPF',
 'YER',
 'ZAR',
 'ZMW',
 'ZWL']

In [16]:
pd.Series(json.json()["rates"])

USD      1.000000
AED      3.672500
AFN     72.099976
ALL     94.654548
AMD    390.767540
          ...
XPF    111.620400
YER    250.175013
ZAR     19.125804
ZMW     25.990771
ZWL     13.253600
Length: 162, dtype: float64

In [15]:
pd.DataFrame(json.json()["rates"].values(), index=list(json.json()["rates"].keys()))

              0
USD    1.000000
AED    3.672500
AFN   72.099976
ALL   94.654548
AMD  390.767540
..          ...
XPF  111.620400
YER  250.175013
ZAR   19.125804
ZMW   25.990771
ZWL   13.253600

[162 rows x 1 columns]

### Daten aus einer Datenbank

In [17]:
import sqlite3 as sql

In [18]:
connection = sql.connect("Test.db")

In [19]:
cursor = connection.cursor()

In [21]:
cursor.execute("CREATE TABLE Users (int id auto increment, name varchar(50))")

In [23]:
cursor.execute("INSERT INTO Users VALUES(0, 'Max')")

In [24]:
cursor.execute("INSERT INTO Users VALUES(1, 'Max')")

In [25]:
cursor.execute("INSERT INTO Users VALUES(2, 'Max')")

In [29]:
data = pd.read_sql("SELECT * FROM Users", connection)

In [30]:
data

   int name
0    0  Max
1    1  Max
2    2  Max

In [39]:
connection.close()

## Export von Daten

In [31]:
data.to_csv("Test.csv")

In [34]:
import openpyxl

In [36]:
data.to_excel("Test.xlsx")  # benötigt ein Paket namens openpyxl

In [37]:
data.to_json("Test.json")